<div class="eventss-grid">
  <div class="events-card" *ngFor="let event of events">
    <img [src]="event.image" alt="{{ event.titre }}" class="events-image" />
    <div class="events-info">
      <h3>{{ event.titre }}</h3>
      <p class="date"><i class="fas fa-calendar-alt"></i> {{ event.date_evt | date:'dd/MM/yyyy' }}</p>
      <p class="heure"><i class="fas fa-clock"></i> {{ event.heure }}</p>
      <p class="type"><i class="fas fa-tag"></i> {{ event.type }}</p>
      <p class="lieu"><i class="fas fa-map-marker-alt"></i> {{ event.lieu }}</p>
      <p class="price"><i class="fas fa-coins"></i> {{ event.prix_ticket }} DT</p>
      <div class="actions">
        <button class="btn btn-add">
          <i class="fas fa-cart-plus icon-sm"></i> Ajouter
        </button>
        <button class="btn btn-details">
          <i class="fas fa-info-circle icon-sm"></i> Détails
        </button>
      </div>
    </div>
  </div>
</div>
