<div class="all">
  <div class="form-container">
    <h3>Add New Artwork</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        Titre:
        <input type="text" placeholder="Title" [(ngModel)]="artwork.titre" name="titre" required />
      </div>
      <div class="form-group">
        Description:
        <textarea placeholder="Description" [(ngModel)]="artwork.description" name="description" rows="4"></textarea>
      </div>
      <div class="form-row">
        <div class="form-group half-width">
          price:
          <input type="number" placeholder="Price" [(ngModel)]="artwork.prix" name="prix" />
        </div>
        <div class="form-group half-width">
          type:
          <select [(ngModel)]="artwork.type" name="type" class="styled-select">
            <option value="" disabled selected>Select artwork type</option>
            <option value="peinture">Peinture</option>
            <option value="sculpture">Sculpture</option>
            <option value="dessin">Dessin</option>
            <option value="gravure">Gravure</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        ImageUrl:
        <input type="text" placeholder="Image URL" [(ngModel)]="artwork.image" name="image" />
      </div>
      <button type="submit" class="submit-btn">Add Artwork</button>
    </form>
  </div>
</div>