<div class="container mt-4">
  <h2>Enchères Actives</h2>
  
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading && encheres.length === 0" class="alert alert-info">
    Aucune enchère active pour le moment.
  </div>

  <div class="row">
    <div *ngFor="let enchere of encheres" class="col-md-4 mb-4">
      <div class="card h-100">
        <img [src]="enchere.image" class="card-img-top" [alt]="enchere.titre">
        <div class="card-body">
          <h5 class="card-title">{{ enchere.titre }}</h5>
          <p class="card-text">{{ enchere.description }}</p>
          <p class="card-text">Artiste: {{ enchere.artiste_nom }} {{ enchere.artiste_prenom }}</p>
          <p class="card-text">Prix de départ: {{ enchere.mise_de_depart }} DT</p>
          <p class="card-text">Début: {{ enchere.date_debut  }}</p>
          <p class="card-text">Fin: {{ enchere.date_fin  }}</p>
          <p class="card-text">Statut: 
            <span >
              {{ getAuctionStatus(enchere.date_debut, enchere.date_fin) }}
            </span>
          </p>
          
          <button [routerLink]="['/enchere', enchere.enchere_id]" 
                  class="btn btn-primary"
                  [disabled]="!isAuctionActive(enchere.date_debut, enchere.date_fin)"
               >
            Participer
          </button>
          
          <div *ngIf="isAuctionComingSoon(enchere.date_debut)" class="text-info mt-2">
            Début dans: {{ timeUntilStart(enchere.date_debut) }}
          </div>
          <div *ngIf="isAuctionActive(enchere.date_debut, enchere.date_fin)" class="text-warning mt-2">
            Temps restant: {{ timeUntilEnd(enchere.date_fin) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>