<div class="container-fluid">

  <nav class="navbar navbar-expand-lg navbar-light shadow-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="login">
        <i class="bi bi-house-door"></i> <strong>Login</strong>
      </a>
      <div>
      <a class="navbar-brand" routerLink="home">
        <i class="bi bi-house-door"></i> <strong>Home</strong>
      </a>
    </div>
    </div>
  </nav>
  
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
